<%- include('../partical/nav.ejs') %>

<br>
<br class="d-md-block d-sm-none d-none ">
<div class="container">
    <div class="w-100 " style=" display: flex; align-items: center; justify-content: center; width: 100px;">
<div class="detaillogo ">
    <img src=" <%= data.logo %> " alt="">
</div>
<div class="detailtitle w-100 ">
    <h3> <%= data.name %> <i class="fa-solid fa-atom"></i></h3>
<h4><%= data.baslik %></h4>
</div>

    </div>
</div>

<div class="container">
<div class="cizgi"></div>
</div>

<div class="container mt-3" >
   <div class="ozel" id="ozel">
    <%= data.html %>
  
    </div>
</div>




















<%- include('../partical/footer.ejs') %>




<script src="/js/detail.js"></script>




</body>
</html>